.about-section {
    padding: 150px 0;

    .history {
        padding: 0 0 155px;

        picture {
            position: relative;
            display: block;
            width: 540px;
            height: 500px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        img {
            position: absolute;

            &:first-of-type {
                top: 0;
                left: 0;
            }

            &:last-of-type {
                right: 0px;
                bottom: 0px;
                max-width: 360px;
            }
        }
    }

    .about {
        .block {
            &-content {
                padding: 0 111px 0 15px;
            }

            &-img {

                span {
                    top: 0;
                    left: inherit;
                    right: -84px;
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            bottom: -54px;
        }

        picture {
            position: relative;
            display: block;
            height: 365px;
        }

        .square {
            position: absolute;
            top: 54px;
            left: 0;
            width: 200px;
            height: 200px;
            border-radius: 8px;
            background: linear-gradient(83.13deg, #345A9C 0%, #0094FF 100%), #C4C4C4;
        }
    }

    .block {
        &-img {
            position: relative;

            span {
                position: absolute;
                top: -122px;
                left: -84px;
                font-family: $base-font-sans-serif;
                font-size: 144px;
                font-weight: 900;
                line-height: 169px;
                color: rgba(0, 148, 255, 0.05);
            }
        }

        &-content {
            padding: 0 0 0 110px;
        }
    }

    img {
        box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);
    }

    .h1 {
        margin: 0 0 32px;
        color: $dark-blue;
    }

    p {
        margin-bottom: 31px;
    }
}