.advantages-section {
    padding: 100px 0 58px;
    background-color: $light-blue;
    .item {
        display: flex;
        padding: 33px 32px 22px;
        border-radius: 8px;
        background-color: $white;
        font-size: 16px;
        line-height: 19px;
        color: $dark-blue;
    }
    
    .block {
        
        &-img {
            margin: 0 32px 0 0;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }
    }

    span {
        margin-bottom: 3px;
        font-family: $base-font-sans-serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 37px;
    }

    p {
        margin: 0;
    }
}