.checkout-section {
    padding: 0 0 100px;
    background-color: $light-blue;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    h1 {
        margin: 0 0 48px;
        color: $gray-800;
    }

    h2 {
        margin: 0 0 40px;
    }

    .block {
        &-checkout{
            padding: 40px;
            border-radius: 4px;
            background-color: $white;
        }

        &-cart-sum {
            padding: 40px 30px;
            border-radius: 8px;
            background-color: $white;
        }
    }

}