.learn-section {
    position: relative;
    display: flex;
    padding: 190px 0;

    @include media('<=desktop') {
        flex-direction: column;
        padding: 60px 0 120px;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;

        @include media('<=desktop') {
            position: static;
        }
    }

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;

        @include media('<=desktop') {
            width: 100%;
        }
    }

    h2 {
        margin: 0 0 40px;
        padding: 0 60px 0 0;
        font-size: 40px;
        font-weight: bold;
        line-height: 53px;
        color: $white;

        @include media('<=desktop') {
            padding: 0;
        }
    }

    .btn-blue {
        padding: 20px 80px 19px;

        @include media('<=desktop') {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 60px;
        }

        @include media('<=small') {
            width: calc(100% - 20px);
            padding: 20px 50px 19px;

            &:hover {
                &:after {
                    right: -18px;
                }
            }

            &:after {
                position: relative;
                right: -15px;
            }
        }
    }

    .block {
        &-left,
        &-right {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;

            @include media('<=desktop') {
                // position: relative;
                width: 100%;
            }
        }

        &-left {
            left: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            @include media('<=desktop') {
                z-index: 1;
            }
            
            .bg-color {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(0deg, rgba(48, 48, 48, 0.75), rgba(48, 48, 48, 0.75));;
            }
        }

        &-right {
            display: flex;
            flex-wrap: wrap;
            right: 0;

            @include media('<=desktop') {
                position: relative;
                z-index: 2;
            }

            @include media('<=small') {
                justify-content: space-between;
            }

            .item {
                position: relative;
                width: 50%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                // z-index: 0;

                @include media('<=desktop') {
                    width: 47%;
                    margin: 0 10px 20px;                    
                    border-radius: 4px;
                }

                @include media('<=small') {
                    width: 44.5%;
                }

                @include media('<phone') {
                    width: 43.5%;
                }

                &:last-of-type {
                    width: 100%;
                }

                &:hover {
                    .bg-text {
                        background: linear-gradient(0deg, rgba(52, 90, 156, 0.75), rgba(52, 90, 156, 0.75));
                    }
                }

            }

            .bg-text {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                background: linear-gradient(0deg, rgba(48, 48, 48, 0.75), rgba(48, 48, 48, 0.75));
                transition: background .3s ease;

                @include media('<=desktop') {
                    position: relative;
                    padding: 60px 0;
                }

                @include media('<=small') {
                    padding: 39px 0;
                    border-radius: 4px;
                }
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-family: $base-font-sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                text-align: center;
                color: $white;

                @include media('<=desktop') {
                    display: block;
                    margin: 0 auto;
                }

                @include media('<=small') {
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
}