.popular-section {
    padding: 150px 0 119px;
    background-color: $light-blue;

    @include media('<desktop') {
        position: relative;
        padding: 60px 0;
    }

    .title-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 48px;

        @include media('<=tablet') {
            position: inherit;
        }
    }

    .h1 {
        margin: 0;
        color: $dark-blue;
    }

    .btn-more {
        position: relative;
        margin: 0 27px 0 0;
        z-index: 1;

        @include media('<=tablet') {
            position: absolute;
            bottom: 60px;
            left: 20px;
        }
    }

    .bg-title {
        position: absolute;
        right: -110px;
        bottom: -50px;

        @include media('<=x-large') {
            right: 0;
        }

        @include media('<desktop') {
            display: none;
        }
    }

    .cards-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;
        padding: 0;
        list-style: none;
        z-index: 1;

        @include media('<=tablet') {
            padding: 0 0 32px;
        }

        @include media('<=small') {
            margin: 0 -10px;
        }
    }

    li {
        min-width: 25%;
        padding: 0 15px;
        margin: 0 0 30px;
        transition: margin .3s ease;

        @include media ('<=x-large') {
            min-width: inherit;
            width: 33%;
        }

        @include media('<=tablet') {
            width: 50%;
        }

        @include media('<=small') {
            padding: 0 10px;
        }

        @include media('<phone') {
            width: 100%;
        }

        &:hover {
            margin: -15px 0 -45px;

            @include media('<=small') {
                margin: 0;
            }

            .card {
                padding: 47px 56px 71px;
                box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);

                @include media('<=small') {
                    padding: 16px;
                    box-shadow: none;
                }                
            }
        }
    }

    .card {
        min-width: 240px;
        cursor: pointer;

        @include media ('<=x-large') {
            min-width: inherit;
        }
    }
}