.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -100;

  input {
    -webkit-appearance: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 100000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.8);
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;

    // @include media('<=tablet') {
    // }
  }

  .popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1110px;
    transform: translate(-50%, -50%);
    // transform: translateX(-50%);
    margin: 15vh 0;
    background-color: $white;
    border-radius: 8px;
    z-index: 1001;
    overflow: hidden;

    @include media('<=tablet') {
      // margin: 20px 0;
    }
  }

  h2 {
    margin: 0 0 32px;
    font-size: 48px;
    line-height: 64px;
    font-weight: bold;
    color: $dark-blue;
  }

  p {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 36px;
    color: $gray-100;
  }

  .btn-close {
    position: absolute;
    top: 34px;
    right: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    color: #ccc;
    transition: border-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: $gray-100;
      border-color: $gray-100;
    }
  }

  &#successModal {
    .popup-wrapper {
      width: 90%;
      max-width: 320px;
      padding: 30px 20px;
    }

    a {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    h3 {
      margin: 0;
      font-family: $base-font-sans-serif;
      text-align: center;
      color: $green;
    }
  }

  &#coaShop {
    .overlay {
      overflow: hidden;
    }
    .popup-wrapper {
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 605px;
      margin: 0;
      padding: 80px 80px 60px;

      @include media('<tablet') {
        width: 90%;
        max-width: inherit;
        padding: 36px 20px 20px;
      }
    }

    h2 {
      margin: 0 0 32px;
      font-size: 32px;
      line-height: 43px;

      @include media('<=small') {
        margin: 0 0 24px;
        font-size: 24px;
        line-height: 32px;
      }
    }

    form {
      position: relative;
      margin: 0 0 24px;

      button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 0 4px 4px 0;
        border: none;
        background-color: $blue;
        color: $white;
        transition: background 0.3s ease;
        outline: none;

        &.loading {
          i {
            display: none;
          }

          .ouro {
            display: inline-block;
          }
        }

        @include media('<tablet') {
          width: 48px;
          height: 48px;
        }

        &:hover {
          background-color: $dark-blue;

          .ouro {
            background-color: $dark-blue;

            &:after {
              background: none repeat scroll 0 0 $dark-blue;
            }
          }
        }
      }

      input {
        width: 100%;
        outline: none;

        @include media('<tablet') {
          padding: 14px 24px 13px;
        }
      }
    }

    .label-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 16px;

      @include media('<phone') {
        flex-direction: column;
        align-items: flex-start;
      }

      span {
        visibility: hidden;
        opacity: 0;
        font-family: $base-font-sans-serif;
        font-size: 16px;
        line-height: 19px;

        &.vis {
          visibility: visible;
          opacity: 1;
        }
      }

      a {
        color: orange;
      }
    }

    .coa-shop-slider {
      display: flex;
      align-items: center;

      &:not(.slick-slider) {
        @include media('<=small') {
          overflow-x: scroll;
        }
      }
    }

    .item {
      padding: 0 7px 32px;

      &.active {
        a {
          border-color: rgba(0, 148, 255, 0.5);
          box-shadow: 0px 8px 24px rgba(0, 148, 255, 0.25);
        }
      }

      a {
        display: block;
        height: 110px;
        padding: 15px 18px;
        background-color: $white;
        border: 1px solid #eee;
        border-radius: 8px;
        outline: none;

        &:hover {
          box-shadow: 0px 8px 24px rgba(0, 148, 255, 0.25);
        }
      }

      img {
        max-width: 60px;
        margin: 0 auto;
      }
    }

    .btn-done {
      margin: 0 0 24px;
      box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);
    }

    .btn-close {
      top: 5px;
      right: 5px;
    }

    .warn {
      margin: 0;
    }

    .slick {
      &-arrow {
        top: calc(50% - 16px);
        z-index: 11;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0px 8px 24px rgba(52, 90, 156, 0.25);
        overflow: hidden;

        &:before {
          padding: 10px;
          font-family: 'icomoon';
          font-size: 12px;
          color: $blue;
          background-color: $white;
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        &:hover {
          &:before {
            color: $dark-blue;
          }
        }
      }

      &-prev {
        left: -14px;

        &:before {
          content: '\e902';
        }
      }

      &-next {
        right: -14px;

        &:before {
          content: '\e901';
        }
      }
    }
  }

  &#CoaZoomPopup {
    .popup-wrapper {
      @include media('<=1280px') {
        width: 90%;
      }
    }

    .row {
      @include media('<=tablet') {
        flex-direction: column;
        margin: 0;
      }
    }

    .block {
      &-slider {
        max-width: 475px;
        padding: 80px 65px;
        overflow: hidden;
        background-color: $light-blue;

        @include media('<=1280px') {
          max-width: inherit;
          width: 40%;
          flex: inherit;
          padding: 30px 30px;
        }

        @include media('<=tablet') {
          width: 100%;
        }

        .coa-zoom-slider {
          width: 80%;
          margin: 0 auto;
        }

        .slick-track {
          display: flex;
          align-items: center;
        }

        .item {
          display: flex;
          justify-content: center;
        }

        img {
          margin: 0 auto;
        }
      }

      &-content {
        position: relative;
        padding: 80px 80px 32px;

        @include media('<=1280px') {
          display: flex;
          flex-direction: column;
          padding: 30px 30px;
        }

        @include media('<=tablet') {
          flex: inherit;
          width: 100%;
          max-width: inherit;
          padding: 20px 20px;
        }

        @include media('<=tablet') {
          position: inherit;
        }

        p {
          @include media('<=tablet') {
            margin: 0 0 12px;
          }
        }
      }
    }

    h2 {
      @include media('<=1280px') {
        margin: 0 0 16px;
        font-size: 32px;
        line-height: 43px;
      }
    }

    .price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 73px;

      @include media('<=1280px') {
        padding: 0 0 32px;
      }

      @include media('<=small') {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .price {
      font-family: $base-font-sans-serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 37px;
      color: $dark-blue;

      @include media('<=small') {
        margin: 0 0 24px;
      }
    }

    .btn-cart {
      min-width: 284px;
      padding: 20px 65px 19px;
      box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);

      @include media('<=small') {
        width: 100%;
      }

      &:before {
        left: 40px;
      }
    }

    .btn-close {
      @include media('<=tablet') {
        top: 15px;
        right: 15px;
      }
    }

    .popup-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 33px 0 0;
      border-top: 1px solid $light-blue;

      @include media('<=1280px') {
        margin: auto 0 0;
      }

      @include media('<=tablet') {
        padding: 15px 0 0;
      }

      @include media('<=phone') {
        flex-direction: column;
      }

      p {
        margin: 0;

        @include media('<=phone') {
          margin: 0 0 16px !important;
        }
      }

      ul {
        display: flex;
        margin: 0 -18px;
        padding: 0;
        list-style: none;
      }

      li {
        padding: 0 18px;

        a {
          font-size: 24px;
          color: $dark-blue;

          &:hover {
            color: $blue;
          }
        }
      }
    }

    .slick {
      &-arrow {
        top: calc(50% - 16px);
        z-index: 10;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0px 8px 24px rgba(0, 148, 255, 0.25);
        overflow: hidden;

        &:before {
          padding: 10px;
          font-family: 'icomoon';
          font-size: 12px;
          color: $blue;
          background-color: $white;
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        &:hover {
          &:before {
            color: $dark-blue;
          }
        }
      }

      &-prev {
        left: -30px;

        &:before {
          content: '\e902';
        }

        @include media('<=small') {
          left: -50px;
        }
      }

      &-next {
        right: -30px;

        &:before {
          content: '\e901';
        }

        @include media('<=small') {
          right: -50px;
        }
      }
    }
  }

  &#SurnamePopup {
    .popup-wrapper {
      @include media('<=large') {
        width: 95%;
      }

      @include media('<=tablet') {
        position: relative;
      }
    }

    p {
      @include media('<tablet') {
        margin: 0 0 24px;
      }

      @include media('<=small') {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .btn-close {
      right: 34px;

      @include media('<=tablet') {
        top: 20px;
        right: 20px;
      }
    }

    h2 {
      margin: 0 0 48px;

      @include media('<large') {
        margin: 0 0 24px;
        font-size: 32px;
        line-height: 43px;
      }
    }

    .row {
      // position: relative;
      margin: 0;
    }

    span {
      font-family: $base-font-sans-serif;

      &.main-title {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        transform: rotate(180deg);
        padding: 0 20px 0 66px;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        line-height: 64px;
        color: $white;
        background-color: $green;
        writing-mode: vertical-rl;
        z-index: -1;

        @include media('<large') {
          padding: 0 20px 0 25px;
        }

        @include media('<=tablet') {
          width: 100%;
          padding: 14px 0;
          text-align: center;
          font-size: 24px;
          line-height: 32px;
          transform: rotate(0);
          writing-mode: inherit;
        }
      }

      &.title {
        display: block;
        margin: 0 0 16px;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        color: $dark-blue;

        @include media('<tablet') {
          margin: 0 0 5px;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &.price {
        display: block;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        color: $blue;

        @include media('<tablet') {
          font-size: 18px;
          background-image: 21px;
        }
      }

      .file {
        font-size: 16px;
        font-weight: normal;
        color: $gray-100;
      }
    }

    .price-list,
    .advant {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px 32px;
      padding: 0;
      list-style: none;

      @include media('<tablet') {
        flex-wrap: wrap;
        margin: 0 0 24px;
      }

      @include media('<=small') {
        margin: 0 0 17px;
      }
    }

    .price-list {
      @include media('<=small') {
        order: 3;
      }

      & + p {
        @include media('<=small') {
          order: 2;
        }
      }
      li {
        width: 33.3%;
        padding: 0 10px;

        @include media('<=small') {
          width: 100%;
          margin: 0 0 10px;
          padding: 0;
        }
      }

      .wrapper {
        padding: 24px 24px;
        border-radius: 4px;
        background-color: $light-blue;

        @include media('<large') {
          margin: 0;
        }

        @include media('<tablet') {
          padding: 16px;
        }

        @include media('<=small') {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .advant {
      margin: 0 0;
      padding: 0 0 50px;

      @include media('<=small') {
        order: 1;
      }

      @include media('<tablet') {
        padding: 0;
      }

      li {
        position: relative;
        padding: 0 0;

        @include media('<=small') {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          margin: 0 0 20px;
        }

        &:first-of-type {
          .wrapper {
            &:before {
              content: '\e906';
            }
          }
        }

        &:nth-of-type(2) {
          .wrapper {
            &:before {
              content: '\e915';
            }
          }
        }

        &:last-of-type {
          .wrapper {
            &:before {
              content: '\e914';
            }
          }
        }
      }

      .wrapper {
        position: relative;
        padding: 0 0 0 40px;

        @include media('<large') {
          margin: 0;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          font-family: 'icomoon';
          font-size: 22px;
          color: $blue;
        }
      }

      h4 {
        margin: 0 0 8px;
        font-family: $base-font-sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        color: $dark-blue;

        @include media('<tablet') {
          margin: 0 0 5px;
          font-size: 16px;
          line-height: 19px;
        }
      }

      span {
        font-size: 16px;
        font-weight: normal;
        color: $gray-100;

        @include media('<tablet') {
          font-size: 14px;
        }
      }
    }

    .block {
      &-img,
      &-content {
        position: relative;
        padding: 20px 20px;
      }

      &-content {
        padding: 50px 80px 20px 20px;

        @include media('<=large') {
          padding: 20px 20px;
        }

        @include media('<large') {
          position: inherit;
          flex: inherit;
          width: 89%;
          max-width: inherit;
          margin: 0 0 0 20px;
        }

        @include media('<=tablet') {
          width: 100%;
          margin: 0;
          padding: 70px 20px 20px;
        }

        @include media('<=small') {
          display: flex;
          flex-direction: column;
        }
      }

      &-img {
        padding: 20px 0 20px 20px;

        @include media('<large') {
          width: 9% !important;
          flex: 1 0 0;
        }

        @include media('<=tablet') {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          max-width: inherit;
          height: 60px;
          flex: inherit;
        }

        img {
          @include media('<large') {
            display: none;
          }
        }
      }
    }
  }

  &#videoPopup {
    .popup-wrapper {
      width: 960px;
      overflow: hidden;

      @include media('<desktop') {
        width: 95%;
      }

      &:after {
        display: block;
        content: '';
        padding-top: 56.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .btn-close {
      top: 12px;
      right: 12px;
      padding: 12px;
      color: $blue;
      border: none;
      background-color: $light-blue;
      border-radius: 50%;
      z-index: 100;
    }
  }

  &#digitalPopup,
  &#genealogyPopup {
    .popup-wrapper {
      display: flex;
      align-items: center;
      padding: 80px;

      @include media('<x-large') {
        flex-direction: column;
        width: 95%;
        padding: 30px;
      }
    }

    h2 {
      margin: 0 0 32px;
      font-size: 32px;
      line-height: 43px;
      color: $gray-800;

      @include media('<x-large') {
        margin: 0 0 24px;
        font-size: 18px;
        line-height: 24px;
      }
    }

    p {
      margin: 0 0 32px;
      font-size: 18px;
      line-height: 36px;

      @include media('<x-large') {
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .btn-blue {
      display: block;
      width: 100%;
      text-transform: uppercase;

      @include media('<phone') {
        padding: 20px 12px 19px;
      }

      &:hover {
        color: $white;
        background-color: $dark-blue;
        border-color: $dark-blue;
        &:after {
          right: 19%;
        }
      }

      &:after {
        right: 20%;

        @include media('<=phone') {
          display: none;
        }
      }
    }

    .block {
      &-img {
        margin: 0 100px 0 0;

        @include media('<x-large') {
          margin: 0;
        }

        picture {
          display: block;
          width: 400px;
          height: 400px;

          @include media('<x-large') {
            width: 100%;
            height: 100%;
            max-width: 160px;
            max-height: 160px;
          }
        }
      }
    }
  }
}
