.product-section {
    padding: 0 0 50px;

    h2 {
        margin: 0 0 48px;
        color: $dark-blue;
    }

    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -15px;

        @include media ('<=small') {
            margin: 0 -10px;
        } 
    }

    .card {        
        padding: 0 15px 30px;

        @include media ('<=desktop') {
            width: 33.3%;
        }

        @include media ('<=small') {
            padding: 0 10px 20px;
            width: 50%;
        }

        @include media ('<phone') {
            width: 100%;
        }

        .content-wrapper {
            background-color: $white;
        }
    }

    .btn {
        box-shadow: none;
    }

    &.blue {
        padding: 120px 0;
        background-color: $light-blue;

        @include media('<=desktop') {
            padding: 60px 0;
        }
    }

    &.on-cart {
        h2 {
            color: $gray-800;

            @include media('<=tablet') {
                margin: 0 0 24px;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}