.product-section {
    padding: 0 0 50px;

    h2 {
        margin: 0 0 48px;
        color: $dark-blue;
    }

    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -15px;
    }

    .card {        
        padding: 0 15px 30px;

        .content-wrapper {
            background-color: $white;
        }
    }

    &.blue {
        padding: 120px 0;
        background-color: $light-blue;
    }
}