.surname-title-section {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 70px;

    @include media('<tablet') {
        padding: 0 0 10px;
    }

    .inner-wrapper {
        @include media('<tablet') {
            flex-direction: column;
        }
    }

    .block {
        &-content,
        &-img {
            display: flex;
            align-items: center;
            width: 50%;

            @include media('<tablet') {
                width: 100%;
            }
        }

        &-img {
            justify-content: center;
        }

        &-content {
            &:only-child {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                p {
                    margin: 0;
                }
            }
        }
    }

    h1 {
        color: $gray-800;

        @include media('<=small') {
            margin-top: 0;
            font-size: 32px;
            line-height: 43px;
        }
    }

    &.with-abc {position: relative;
        padding: 0 0 64px;

        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 10%); 
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 10;
        }
    }
}