.testimonials-title-section {
    padding: 0 0 64px;
    padding: 0 0 52px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    h1 {
        color: $gray-800;

        @include media('<=tablet') {
            margin: 0 0 24px;
            font-size: 32px;
            line-height: 43px;
        }
    }

    .btn-review {
        display: inline-block;
        margin: auto 0 0;
    }

    p {
        margin: 0;
    }
}