body {
    font-family: $base-font-serif;
    color: $gray-100;
}

#wrapper {
    position: relative;
    overflow: hidden;

    &.active {
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.inner-wrapper {
    display: flex;
}

#main {
    &.shop {
        // background: url('/images/shop-bg.png'),linear-gradient(360deg, #F5F7FA 13%, rgba(245, 247, 250, 0.5) 100%);
        // background-repeat: no-repeat;
        // background-position: top center;
        // background-size: contain;
        background-image: url('/images/shop-bg.png');
        background-color: $light-blue;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }
}

img {
    max-width: 100%;
}

a,
button,
select,
input,
textarea {
    font-family: $base-font-sans-serif;
}

a,
button,
input[type='submit'] {
    transition: color .3s ease, background .3s ease, box-shadow .3s ease;
}

a {
    text-decoration: none;
    color: $blue;

    &:hover {
        color: $dark-blue;
    }
}

.btn-more {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $blue;

    &:hover {
        color: $dark-blue;

        &:after {
            right: -30px;
        }
    }

    &:after {
        position: absolute;
        content: '\e901';
        top: calc(50% - 1px);
        transform: translateY(-50%);
        transition: right .3s ease;
        right: -27px;
        font-family: 'icomoon';
        font-size: 8px;
    }
}

.btn-watch {
    position: relative;
    display: inline-block;
    min-width: 195px;
    margin: 5px 0 0;
    padding: 15px 24px 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: $dark-blue;
    border-radius: 24px;
    background-color: $light-blue;

    &:after {
        position: absolute;
        content: '\e90f';
        top: 50%;
        transform: translateY(-50%);
        right: 1px;
        padding: 18px 21px;
        font-family: 'icomoon';
        font-size: 14px;
        color: $green;
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0px 8px 24px rgba(52, 90, 156, 0.25);
    }
}

.btn-cart {
    position: relative;
    min-width: 191px;
    padding: 20px 24px 19px 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: $white;
    border-radius: 4px;
    border: 1px solid $blue;
    background-color: $blue;

    &:hover {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: $white;
    }

    &:before {
        position: absolute;
        content: '\e903';
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        font-family: 'icomoon';
        font-size: 13px;
        transition: right .3s ease;
    }
}

.btn-clear {
    position: relative;
    padding: 22px 24px 22px;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    background-color: transparent;
    border: none;

    &:hover {
        color: $gray-100;
    }

    &:before {
        position: absolute;
        content: '\e905';
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        font-family: 'icomoon';
        font-size: 8px;
    }
}

.btn-blue,
input[type="submit"] {
    position: relative;
    min-width: 238px;
    padding: 20px 24px 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: $white;
    border-radius: 4px;
    border: 1px solid $blue;
    background-color: $blue;
    box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);

    &:hover {
        background-color: transparent;
        color: $blue;

        &:after {
            right: 45px;
            box-shadow: none;
        }
    }

    &:after {
        position: absolute;
        content: '\e901';
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        font-family: 'icomoon';
        font-size: 11px;
        transition: right .3s ease;
    }
}

input[type="search"],
input[type="email"],
input[type="text"],
textarea,
select {
    padding: 20px 24px 19px;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #eee;
    background-color: $light-blue;
    border-radius: 4px;
    color: $gray;

    &::placeholder {
        color: $gray;
    }
}

span.bg-title {
    font-family: $base-font-sans-serif;
    font-size: 144px;
    font-weight: 900;
    line-height: 169px;
    color: rgba(0, 148, 255, 0.05);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border-radius: 8px;
    font-family: $base-font-sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    padding: 32px 56px 56px;
    background-color: $white;
    transition: padding .3s ease, box-shadow .3s ease;

    picture {
        max-width: 222px;
        max-height: 222px;
        display: block;
        margin: 0 8px 29px;
    }

    .discount {
        position: absolute;
        top: 32px;
        left: 32px;
        padding: 0 10px;
        font-size: 18px;
        font-weight: 900;
        line-height: 27px;
        color: $white;
        background-color: $green;
        box-shadow: 0px 8px 16px rgba(0, 203, 118, 0.25);
        border-radius: 8px;
        z-index: 10;
    }

    p {
        margin: 0 0 18px;
        line-height: 21px;
    }

    .price {
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 32px;
        }

        &-old {
            margin: 0 8px;
            font-size: 14px;
            font-weight: 400;
            color: $gray-100;
            line-height: 27px;
            text-decoration: line-through;
        }

        &-new {
            margin: 0 8px;
            font-size: 18px;
            font-weight: bold;
            line-height: 27px;
            color: $gray-800;
        }
    }

    .btn-blue {
        display: block;
        width: 100%;
        margin: auto 0 0;
        cursor: pointer;

        &:hover {
            background-color: $dark-blue;
            border-color: $dark-blue;
            color: $white;
        }
    }

    &.add-cart,
    &.small {
        width: 25%;
        padding: 0 15px;
        background-color: transparent;

        &:hover {
            .content-wrapper {
                box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);
            }
        }

        .content-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 32px 32px;
            border-radius: 8px;
            background-color: $white;
            transition: box-shadow .3s ease;
        }

        .pic {
            position: relative;
            display: block;
            width: 191px;
            height: 191px;
            margin: 0 0 24px;

            &:hover {

                &:after,
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:after,
            &:before {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s ease, visibility .3s ease;
            }

            &:after {
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(0deg, rgba(245, 247, 250, 0.75), rgba(245, 247, 250, 0.75));
                border-radius: 4px;
            }

            &:before {
                content: '\e913';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 12px;
                font-family: 'icomoon';
                color: $blue;
                border-radius: 4px;
                background-color: $white;
                z-index: 10;
            }

            img {
                display: block;
                margin: 0 auto;
                height: 191px;
            }
        }

        .price-wrapper {
            display: flex;
        }

        .price-new,
        .price-old,
        .deskr {
            margin: 0 4px 24px;
            font-size: 18px;
        }

        .price-old {
            text-decoration: line-through;
        }

        .desktop {
            position: absolute;
            top: 16px;
            left: 16px;
            padding: 7px 8px 4px;
            border-radius: 4px;
            background-color: $green;
            box-shadow: 0px 8px 16px rgba(0, 203, 118, 0.25);
            color: $white;
            font-size: 14px;
            z-index: 10;
        }
    }

    &.small {
        .content-wrapper {
            background-color: $light-blue;
        }

        .price-wrapper {
            margin: 0;
        }

        .discount {
            top: 16px;
            left: 16px;
        }

        .btn-blue {
            min-width: auto;

            &:hover {
                &:after {
                    right: 27px;
                }
            }

            &:after {
                right: 30px;
            }
        }
    }
}

.breadcrumbs {
    padding: 24px 0;

    ul {
        display: flex;
        align-items: center;
        margin: 0 -20px;
        padding: 0;
        list-style: none;
    }

    li {
        padding: 0 20px;

        &.disabled {
            a {
                pointer-events: none;
                cursor: inherit;
                color: $gray;

                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }

    a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $gray-100;

        &:hover {
            color: $gray-700;
        }

        &:before,
        &:after {
            position: absolute;
            content: '\e900';
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            right: -18px;
            font-family: 'icomoon';
            font-size: 5px;
        }

        &:after {
            right: -22px;
        }
    }
}

.block-share-history {
    display: flex;
    justify-content: space-between;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .block {

        &-prev,
        &-next {
            display: flex;
            align-items: center;

            a {
                position: relative;
                display: flex;
                align-items: center;
                font-size: 1px;
                font-weight: normal;
                color: $gray;

                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: 'icomoon';
                    font-size: 16px;
                    color: #ccc;
                    transition: color .3s ease;
                }

                &:hover {
                    &:before {
                        color: $gray-100;
                    }

                    span {
                        color: $dark-blue;
                    }
                }

                p,
                span {
                    line-height: 25px;
                }
            }

            span {
                font-weight: bold;
                color: $blue;
                transition: color .3s ease;
            }
        }

        &-prev {
            a {
                padding: 0 0 0 30px;

                &:before {
                    content: '\e902';
                    left: 0;
                }
            }

            img {
                margin: 0 24px 0 0;
            }
        }

        &-next {
            a {
                padding: 0 30px 0 0;

                &:before {
                    content: '\e901';
                    right: 0;
                }
            }

            img {
                margin: 0 0 0 24px;
            }
        }

        &-social {
            display: flex;
            flex-direction: column;

            h3 {
                font-weight: bold;
                color: $gray-800;
            }

            ul {
                display: flex;
                justify-content: center;
                margin: 0 -20px;
                padding: 0;
                list-style: none;
            }

            li {
                padding: 0 20px;

                a {
                    font-size: 20px;
                    color: $blue;

                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
        }
    }
}


//block-abc

.block-abc {
    margin: 0 0 24px;



    &.top {
        border-bottom: none;

        .container {
            border-top: 1px solid #eee;
            border-bottom: none;
        }
    }

    .container {
        padding: 24px 0;
        border-bottom: 1px solid #eee;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            font-family: $base-font-serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            text-transform: uppercase;
            color: $gray-100;

            &:hover {
                color: $blue;
            }
        }

        li {
            &.active {
                a {
                    color: $blue;
                }
            }
        }
    }
}

// block wood title

.block-wood {
    display: flex;
    justify-content: space-between;
    padding: 65px 70px;
    background: linear-gradient(0deg, rgba(52, 90, 156, 0.75), rgba(52, 90, 156, 0.75)), url('/images/wood-bg.png');
    box-shadow: 0px 16px 32px rgba(52, 90, 156, 0.25);
    border-radius: 8px;
    color: white;
    font-family: $base-font-sans-serif;

    h2 {
        margin: 0 0 24px;
        color: $white;
    }

    .btn-blue {
        display: inline-block;
        min-width: auto;
        padding: 20px 55px 19px;

        &:after {
            right: 30px;
        }

        &:hover {
            &:after {
                right: 27px;
            }
        }
    }

    blockquote {
        position: relative;
        max-width: 350px;
        padding: 0 0 0 50px;
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        line-height: 37px;

        &:before {
            position: absolute;
            content: '\e910';
            top: 10px;
            left: -10px;
            font-family: 'icomoon';
            font-size: 20px;
            color: $green;
        }
    }

    .btn-video {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        font-size: 14px;
        color: $white;
        border-radius: 50%;
        background-color: $green;
        box-shadow: 0px 0px 32px 10px rgba(0, 203, 118, 0.5);
        transition: box-shadow .3s ease;

        &:hover {
            box-shadow: none;
        }

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 76px;
            height: 76px;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 203, 118, 0.15);
            border-radius: 50%;            
        }
    }

    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}