#header {
    padding: 20px 0 16px;
    background-color: $white;

    .inner-wrapper {
        align-items: center;
        justify-content: flex-end;
    }

    .logo {
        margin: 0 auto 0 0;
    }

    form {
        margin: -3px 0 0;
    }

    input[type="search"] {
        width: calc(100% - 70px);
        padding: 20px 24px 19px 2px;
        border-left: none;
        border-radius: 0 4px 4px 0;
        outline: none;
    }

    .search {
        margin: 0 -5px 0 0;
        padding: 19px 24px 18px;
        font-size: 18px;
        line-height: 19px;
        border: 1px solid #eee;
        border-right: none;
        background-color: $light-blue;
        border-radius: 4px 0 0 4px;
        color: $dark-blue;
        outline: none;

        &:hover {
            color: $blue;
        }
    }

    .cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin: -3px 0 0 5px;
        font-size: 20px;
        color: $blue;
        background-color: $white;
        box-shadow: 0px 8px 16px rgba(0, 148, 255, 0.25);
        border-radius: 4px;

        &:hover {
            color: $dark-blue;
            box-shadow: 0px 8px 16px rgba(52, 90, 156, 0.25);
        }

        &:before {
            position: absolute;
            content: '';
            top: 18px;
            right: 18px;
            width: 8px;
            height: 8px;
            border: 1px solid $white;
            border-radius: 50%;
            background-color: $green;
        }

        &.has-product {
            background-color: $blue;
            color: $white;
        }
    }
}

#nav {
    // position: relative;
    overflow: hidden;
    max-height: 64px;
    font-size: 16px;
    line-height: 19px;
    background-color: $dark-blue;

    ul {
        margin: 0 -32px;
        padding: 0;
        list-style: none;

        &.submenu {
            position: absolute;
            left: 0;
            display: none;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 21px 0 0;
            padding: 0;
            background-color: $white;
            list-style: none;
            z-index: 100;

            &.active {
                display: flex;
            }

            &-services,
            &-learn {
                li {
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        i,
                        span {
                            color: $blue;
                        }

                        &:hover {
                            background-color: $blue;

                            i,
                            span {
                                color: $white;
                            }
                        }
                    }
                }
            }



            li {
                position: relative;
                width: 25%;
                height: 340px;

                &.last {
                    a {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                        height: auto;

                        &:hover {
                            &:after {
                                right: -25px;
                                color: $blue;
                            }
                        }

                        &:after {
                            content: '\e901';
                            font-size: 10px;
                            color: $dark-blue;
                        }
                    }
                }
            }

            &-services {
                li {
                    width: 50%;
                }
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                color: $dark-blue;

                &:hover {
                    color: $blue;

                    picture {
                        span {
                            color: $blue;
                        }
                    }
                }
            }

            i,
            span {
                transition: color .3s ease;
            }

            i {
                margin: 0 0 16px;
                font-size: 64px;
            }

            picture {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;

                img {
                    margin: 0 0 16px;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    ;
                }
            }
        }
    }

    li {
        padding: 21px 32px;

        &.active {
            a {
                color: rgba(255, 255, 255, .75);
            }
        }

        &.has-submenu {
            overflow: hidden;

            a {
                &:after {
                    position: absolute;
                    content: '\e900';
                    top: 50%;
                    transform: translateY(-50%);
                    right: -22px;
                    font-size: 7px;
                    font-family: 'icomoon';
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }

    a {
        position: relative;
        color: $white;

        &:hover {
            color: rgba(255, 255, 255, .75);
        }
    }
}