html {
  font-size: 16px;
}

body {
  font-family: $base-font-serif;
  font-weight: 400;
  line-height: 1.45;
  font-size: 0.85rem;
}

p {
  margin-bottom: 1.25rem;
  font-family: $base-font-sans-serif;
  font-size: 16px;
  line-height: 32px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $base-font-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1, .h1 {
  font-size: 48px;
  font-weight: bold;   
  line-height: 64px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 43px;
  color: $gray-800;

  .h1 {
    color: $dark-blue;
  }
}  

h3 {
  font-size: 24px;
  line-height: 32px;   
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.833rem;
}

